{% extends 'mainpage/mainpage.html' %}

{% block content %}
<div class="w3-display-center w3-text-white" style="padding:48px ; background:rgba(0,0,0,0.6)">
    <div align = "center">
        <div class="w3-row-padding" style="margin-top:250px; width:50%">
            <div>
                {% if user.is_authenticated %}
                    <center>
                    <p >You have already logged in {{ user.username }}</p>
                    </center>
                {% endif %}
                {% if not user.is_authenticated %}
                    <center>
                        <h3 class="w3-center">LOGIN</h3>
                        <div class="w3-row-padding" style="margin-top:64px; width:50%">
                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                <div>
                                    <p align = "center" style="color:white">
                                    {{ field.label_tag }}<br>
                                    <p style="color:black">{{ field }}</p>
                                    </p>
                                </div>
                                {% endfor %}
                                <button type="submit" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Login</button>
                            </form>
                        </div>
                    </center>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}