{% extends 'mainpage/mainpage.html' %}

{% block content %}
    <div  style="padding:64px 16px ; background:rgba(0,0,0,0.5)" id="contact">
        <div align = "center">
            <div class="w3-row-padding" style="margin-top:64px; width:50%">
                <div>
                    <form method="post" align = "center">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="w3-input w3-border" align = "center" style="color:white">
                                <p>
                                {{ field.label_tag }}<br>
                                <p style="color:black">{{ field }}</p>
                                </p>
                            </div>
                            {% if field.help_text %}
                                <small style="color:lightgrey" align = "center">{{ field.help_text|safe|linebreaks }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red" align = "center">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        <button class="w3-button w3-black" type="submit">
                            <i class="fa fa-paper-plane"></i>
                            SIGNUP
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}