{% extends 'mainpage/mainpage.html' %}

{% block titlebar%}
{% for item in items %}
    {% if forloop.first%}
        {% if item%}
        {% else %}
            <a href="profileCreate/">
                Addprofile
            </a>
        {% endif %}
    {% endif %}
{% endfor %}              
{% endblock %}
{% block content %}
<div class=" bgimg-3 w3-display-container" style = "width:100% " align = "center">
    <p style = "padding :25px"></p>
    {% if user.is_authenticated %}
        {% if items %}
            {% for item in items %}
                {% if forloop.first%}
                    {% if item %}
                        <img src="{{item.user_image.url}}"style="max-width: 100%; width:100vh ;height:auto" alt="ImageNotFound" class="w3-margin-bottom">
                        <p>{{item.about_user}}</p>
                    {% endif %}
                {% else %}
                    <div style="width:65%">
                        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                            <img src="" alt="User" class="w3-left w3-circle w3-margin-right" style="width:60px"/>
                            <span class="w3-right w3-opacity">{{item.date|date:"Y-m-d h:i:s"}}</span>
                            <h4 align = "left">{{item.authorcap}}</h4><br>
                            <hr class="w3-clear">
                            <h3 style="padding : 0px 50px 20px 50px" align = "left"><a href="/articles/{{item.id}}">{{item.snippet}}</a></h3>
                            {%if item.image%}
                                <div class="w3-row-padding" style="margin:0 -16px">
                                    <div align = 'center'>
                                        <img src="{{item.image.url}}" style="max-width: 100%; width:100vh ;height:auto" alt="ImageNotFound" class="w3-margin-bottom">
                                    </div>  
                                </div>
                            {%endif%}
                            <p  class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">
                                <i class="fa fa-thumbs-up"></i>
                                Likes: {{item.likes.count}}
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div>
                <h1>There is nothing</h1>
            </div>
        {% endif %}
    {% else %}
    {% endif %}
</div>
{% endblock %}